.container {
    display: flex;
    width: 100%;
}

.chart-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.run-chart-btn {
    border: 2px solid hsl(210deg, 30%, 12%);
	border-radius: 2rem;
	color: beige;
	padding: 0.5rem;
    margin: 0.5rem;
}

.warning {
    /* width: 100%; */
    border: 2px solid hsl(210deg, 30%, 12%);
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.equivalence-circle {
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;

}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .equivalence-circle {
        scale: 0.8;
    }
    
}